.shadow{
     height: 100%;
     width: 100%;
     position: fixed;
     top: 0;
     left: 0;
     background-color: rgba(80,80,80,0.5);
     z-index: 100;
     display: none;
 }
 
 .modalW{
     position: absolute;
     width: 50%;
     left: 25%;
     top: 25%;
     /*height: 300px;*/
     background-color: #f2f2f2;
     border-radius: 15px;
     display: none;
     text-align: center;
     padding-top: 20px;
     padding-bottom: 20px;
 }
 
 .modalW input{
     font-size: 20px;
     width: 80%;
 }
 
 .modalW textarea{
     font-size: 16px;
     height: 200px;
     width: 90%;
 }
 
 .news{
    padding-bottom: 20px;
    padding-top: 10px;
    border-bottom: 1px solid lightgray;
    width: 90%;
    margin-left: 5%;
    
 }.news h2{
     color: #87acda;
 }

 .news i{
    color: lightgray;
    font-size: 15px;
 }