#search-form{
    width: 90%;
    margin-left: 5%;
    margin-top: 40px;
    margin-bottom: 30px;
}

#search-form h2{
    font-weight: lighter;
}

#search-form input{
    height: 30px;
    width: 400px;
    font-size: 15px;
    margin-bottom: 5px;
}

table{
    width: 90%;
    margin-left: 5%;
    font-size: 13px;
}

caption{
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    text-align: left;
    height: 40px;
    border-bottom: 1px solid lightgray;
}

tr{
    height: 40px;
}

td, th{
    border-bottom: 1px solid lightgray;
}

.td_0, .td_2{
     font-weight: bold;
 }
 
th{
    text-align: left;
    font-size: 14px;
}

.dept_name{
    width: 100%;
    background-color: lightblue;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
 }
